
.access02 .console{
    text-align:right;
    padding-bottom:1em;
}
.access02 .button_small{
    display:inline-block;
    vertical-align:bottom;
    width:10em;
    text-align:center;
    font-size:80%;
    padding: 0.2em 0.2em 0.1em;
    color:#111;
    border:1px solid lightgray;
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left:2em;
    
    cursor:pointer;
}

.access02 .button_small:hover{
    background-color:#ddd;
}

.access02 .google .map{
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.access02 .google .map iframe,
.access02 .google .map object,
.access02 .google .map embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

ol.access03{
    list-style:none;
}

ol.access03.list-style01 li{
    margin-top:0.2em;
}
ol.access03 li .title{
    position:relative;
}
ol.access03.list-style01 li .title:after{
    border-bottom-color:#00a6e6;
}

ol.access03 li .title:before{
    display:inline-block;
    width:2em;
    text-align:right;
    position:absolute;
    left:-2.2em;
    top:-0.1em;
    font-size:120%;

    color:#00a6e6;
}

ol.access03 li:nth-child(1) .title:before{    content:"\278a";	}
ol.access03 li:nth-child(2) .title:before{    content:"\278b";	}
ol.access03 li:nth-child(3) .title:before{    content:"\278c";	}
ol.access03 li:nth-child(4) .title:before{    content:"\278d";	}
ol.access03 li:nth-child(5) .title:before{    content:"\278e";	}
ol.access03 li:nth-child(6) .title:before{    content:"\278f";	}
ol.access03 li:nth-child(7) .title:before{    content:"\2790";	}
ol.access03 li:nth-child(8) .title:before{    content:"\2791";	}
ol.access03 li:nth-child(9) .title:before{    content:"\2792";	}
ol.access03 li:nth-child(10) .title:before{    content:"\2793";	}
